<section>
  <div class="logo">
    <div class="flex-column"><img src="/assets/images/1.png" alt="logo"></div>
    <div class="flex-column">
      <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4></div>
      <div class="flex-column"><p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis nulla tempore praesentium ab eligendi
        architecto, quo fuga quam provident dolores minima id ducimus velit voluptas.
      </p></div>
      <div class="flex-column">
        @2018 Board Infinity Corporation
      </div>
    
  </div>
</section>
